{% extends 'base.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('cropper') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cropper') }}
{% endblock %}
{% block body %}
    <h1>Create new Movie</h1>

    {{ include('admin/movie/_form.html.twig') }}

    <a href="{{ path('admin_movies_index') }}">back to list</a>
{% endblock %}
