{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <h1>Movies</h1>
    {% if movies %}
        <div class="row">
        {% for movie in movies %}
           {{  include ('_movie_data.html.twig') }}
        {% endfor %}
        </div>
    {% else %}
        <p>No movies found</p>
    {% endif %}


{% endblock %}
